<!--This is my first Component -->

<!-- Data binding -->
<!-- <app-dbcomponent></app-dbcomponent> -->

<!-- Property binding -->
<!-- <app-pbcomponent></app-pbcomponent> -->

<!-- Event binding 
<app-ebcomponent></app-ebcomponent> -->

<!-- Input Data with Event binding -->
<!-- <app-inputcomponent></app-inputcomponent> -->

<!-- Practicing Directives -->
<!-- <app-directivecomponent></app-directivecomponent> -->

<!-- Routing -->
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li routerLinkActive = "active" [routerLinkActiveOptions]= "{exact : true}"><a routerLink="/">Home</a></li>
            <li routerLinkActive = "active"><a routerLink="/users">Users List</a></li>
        </ul>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>